<% include ./partials/header %>
<div class="Profile">
	<div class="Profile__chat"></div>
	<div class="Profile__infos">
		<div class="Profile__cover">
			<div class="Profile__user">
				<div class="Profile__thumbnail"><a class="Thumbnail__add"></a><img /></div>
				<div class="Profile__identity">
					<div class="Profile__name"><span class="Name__first"><%= profile.firstname || "???" %></span><span class="Name__last"><%= profile.lastname || "???" %></span></div>
					<div class="Profile__others">
						<div class="Others__entry">
							<div class="Others__tooltip">Location</div>
							<div class="Others__icon"><i class="fa fa-map-marker"></i></div>
							<div class="Others__value"><%= profile.location || "__" %></div>
						</div>
						<div class="Others__entry">
							<div class="Others__tooltip">Popularity</div>
							<div class="Others__icon"><i class="fa fa-fire"></i></div>
							<div class="Others__value"><%= profile.popularity || "__" %></div>
						</div>
						<div class="Others__entry">
							<div class="Others__tooltip">Sexual orientation</div>
							<div class="Others__icon"><i class="fa fa-heart"></i></div>
							<div class="Others__value"><%= profile.orientation || "__" %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Profile__misc">
			<section class="Profile__tags">
				<h2 class="Section__header">Interests</h2>
				<div class="Section__body">
					<% if (locals.profile.interests) { %>
						<% profile.interests.forEach(function(interest) { %>
							<div class="Tag" data-value="<%= interest %>">
								<span class="Tag__content">
									<%= interest %>
								</span>
								<% if (profile.id === user.id) { %>
									<a href="#" class='Tag__close'><i class="fa fa-close"></i></a>
								<% } %>
							</div>
						<% }) %>
					<% } %>
				</div>
			</section>
			<section class="Profile__about">
				<h2 class="Section__header">About</h2>
				<div class="Section__body">

				</div>
			</section>
			<section class="Profile__photos">
				<h2 class="Section__header">Photos</h2>
				<div class="Section__body">

				</div>
			</section>
		</div>
	</div>
</div>
<script>
	var dbInterests = <%- JSON.stringify(profile.interests) %>
</script>
<script src='/javascripts/profile.js'></script>
<% include ./partials/footer %>